
body{
    background: var(--bg-blue);
    width: 100vw;
    color: white;
}

main{
    width: 100vw;
}

h1{
    margin-top: 80px;
    text-align: center;
}

form{
    padding: 60px;
}

.form-box{
    margin-left: 10%;
}

#btn-custom{
    margin-top: 20px;
    margin-bottom: 50px;
}
